bin
obj
/packages
.tmp/
/.tmp/
_tmp_allmanagers_template/
/_tmp_allmanagers_template/
Jewelcrafting.sln.DotSettings.user
.idea
.vs
Directory.Build.targets
/GithubReadme/
_tmp_*/
_tmp_*
%TEMP%/
_valheim_decomp/
*.backup
*.latest
ThunderstorePackage/*.mdb
ThunderstorePackage/temp*.dll
ThunderstorePackage/temp*.dll.mdb
nul
